<%= form_with(model: chat, class: "govuk-form govuk-chat-form") do |form| %>
  <%= form.hidden_field :uuid %>
  <%= hidden_field_tag :js_enabled, false %>
  <%= form.label "Enter your question (please do not share personal or sensitive information in your conversations with GOV UK Chat)", for: "govuk-chat-input", class: "sr-only" %>
  <%= form.text_field :prompt, id: "govuk-chat-input", value: "", rows: 4, class: "gem-c-input govuk-input", required: "true" %>
  <%= form.submit "Send", class: "govuk-button govuk-button--start" %>
<% end %>


<div class="govuk-error-message__container" role="alert" aria-relevant="all" hidden>
  <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>Personally identifiable information has been detected in your query - please remove any personally identifiable information and try again.</p>
</div>

<div class="govuk-conversational-feedback-wrapper">
  <svg class="govuk-chat__action-link-icon" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="11.5" cy="11.5" r="11.5" fill="#272828"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9429 11.7949L10.4402 7.29222L11.7327 5.99967L17.528 11.7949L11.7327 17.5902L10.4402 16.2976L14.9429 11.7949Z" fill="#ffffff"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.95631 10.881L15.4414 10.881L15.4414 12.709L3.95631 12.709L3.95631 10.881Z" fill="#ffffff"/>
  </svg>
  <p class="govuk-body">
    <%= link_to "Tell us how you found your conversation today", new_feedback_path(uuid: chat.uuid), class: "govuk-link", target: "_blank" %>
    (Opens in a new tab)
  </p>
</div>
