<%= form_with(model: chat, class: "govuk-form govuk-chat-form") do |form| %>
  <%= form.hidden_field :uuid %>
  <%= hidden_field_tag :js_enabled, value: false %>
  <%= form.label "Enter your question (please do not share personal or sensitive information in your conversations with GOV UK Chat)", for: "govuk-chat-input", class: "sr-only" %>
  <%= form.text_field :prompt, id: "govuk-chat-input", value: "", rows: 4, class: "gem-c-input govuk-input", required: "true" %>
  <%= form.submit "Send", class: "govuk-button govuk-button--start" %>
<% end %>


<div class="govuk-error-message__container" role="alert" aria-relevant="all" hidden>
  <p class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>Personal data has been detected in your question. Please remove it. You can ask another question. But please don’t include personal data in it or in any future questions.</p>
</div>
<p class="govuk-body govuk-!-margin-0" aria-hidden="true">Do not share personal or sensitive information in your conversations with GOV.UK Chat.</p>

<p class="govuk-body govuk-!-margin-0">
  <%= link_to "Conversation Feedback", new_feedback_path(uuid: chat.uuid) %>
</p>
