<div class="govuk-grid-row govuk-chat-container">
  <div class="govuk-grid-column-two-thirds">
    <% if @chats.any? %>
      <p>You have a new message. Click this <a href="#<%= @chats.last.id %>">link</a> to view</p>
    <% end %>
    <%= render "chat_header" %>
    <%= render("conversation", chats: @chats) if @chats.any? %>
    <div class="govuk-chat-loading-indicator">
      <%= render "chat_icon", { is_prompt: false, text: "GOV.UK chat (experimental) is generating an answer", includeLoadingIcon: true } %>
    </div>
  </div>
</div>

<div class="govuk-chat-input-wrapper">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "form", chat: Chat.new(chat_id: @chat_id) %>
      </div>
    </div>
  </div>
</div>
