<div class="govuk-grid-row govuk-chat-container">
  <div class="govuk-grid-column-two-thirds">
    <% if @chats.any? %>
      <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-top-6" role="alert"
        aria-labelledby="govuk-notification-banner-title"
      >
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Your question has been answered
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">GOV.UK Chat has answered your question</h3>
          <%= link_to "Read the answer", "#" + @chats.last.id.to_s, class: "govuk-button" %>
        </div>
      </div>
    <% end %>
    <%= render "chat_header" %>
    <%= render("conversation", chats: @chats) if @chats.any? %>
    <div class="govuk-chat-loading-indicator" role="region" aria-live="polite">
      <%= render "chat_icon", { is_prompt: false, text: "GOV.UK Chat (experimental) is generating an answer", includeLoadingIcon: true } %>
    </div>
  </div>
</div>

<div class="govuk-chat-input-wrapper">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "form", chat: Chat.new(uuid: @uuid) %>
      </div>
    </div>
  </div>
</div>
