<%= form_with(model: feedback, class: "govuk-form") do |form| %>
  <%= form.hidden_field :chat_id %>
  <%= form.hidden_field :uuid %>
  <%= form.hidden_field :version %>
  <%= form.hidden_field :level %>
  <%= hidden_field_tag :js_enabled, false %>

 <% @groups.each do |group| %>
    <div class="govuk-chat__survey-group">
      <h2 class="govuk-heading-l"><%= "#{group['group_name']}" %></h2>
      <% group['questions']&.each do |question| %>
        <%= render "feedbacks/#{question['datatype']}", question: question %>
      <% end %>
    </div>
<% end %>

  <%= form.submit "Submit", class: "govuk-button govuk-button--start" %>
<% end %>
