<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="<%= question['id'] %>-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        <%= question["title"] %>
      </h2>
      <% if question["title_statement"] %>
        <div class="govuk-inset-text govuk-!-margin-bottom-1">
          <%= question["title_statement"] %>
        </div>
      <% end %>
    </legend>
    <div id="<%= question['id'] %>-hint" class="govuk-hint">
      <%= question["hint"] %>
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <% question["options"].each_with_index do |option, index| %>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="answers_<%= question['id'] %>_<%= index %>" name="answers[<%= question['id'] %>]" type="radio" value="<%= option %>" <% if question['mandatory'] == true %>required<% end %>>
          <label class="govuk-label govuk-radios__label" for="answers_<%= question['id'] %>_<%= index %>">
            <%= option %>
          </label>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>
