<%= form_with(model: feedback, class: "govuk-form govuk-chat__feedback-form") do |form| %>
  <%= form.hidden_field :chat_id %>
  <%= form.hidden_field :uuid %>
  <%= form.hidden_field :version %>
  <%= form.hidden_field :level %>
  <%= hidden_field_tag :js_enabled, false %>

  <p class="govuk-body"><%= question["title"] %></p>

  <div class="govuk-chat__feedback-buttons">
    <div class="govuk-chat__feedback-button-group">
      <%= form.submit question["options"][0], name: "answers[#{question['id']}]", value: question["options"][0], class: "govuk-link govuk-chat__feedback-button" %>
      <span class="sr-only">this answer was useful</span>
    </div>
    <span>or</span>
    <div class="govuk-chat__feedback-button-group">
      <%= form.submit question["options"][1], name: "answers[#{question['id']}]", value: question["options"][1], class: "govuk-link govuk-chat__feedback-button govuk-chat-lowercase" %>
      <span class="sr-only">this answer was not useful</span>
    </div>
  </div>
<% end %>
