<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="<%= question['id'] %>-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        <%= question["title"].html_safe %>
      </h2>
      <% if question["title_statement"] %>
        <div class="govuk-inset-text govuk-!-margin-bottom-1">
          <%= question["title_statement"] %>
        </div>
      <% end %>
    </legend>
    <div id="<%= question['id'] %>-hint" class="govuk-hint">
      <%= question["hint"] %>
    </div>
    <textarea class="govuk-textarea" id="answers_<%= question['id'] %>" name="answers[<%= question['id'] %>]" rows="5" aria-describedby="<%= question['id'] %>-hint" <% if question['mandatory'] == true %>required<% end %>></textarea>
  </fieldset>
</div>
